@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
font-family: 'Montserrat', sans-serif;
font-size: 16px;
width:1024px;
height:1080px;
color: #000000;

}

.all {
    display: flex;
}

.left {
    width: 350px;
    height: 450px;
    background-color: #272727;
    color: white;
    padding: 18px;
    padding-bottom: 0px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0px;
    margin-bottom:0px;
    margin-left:57px;
    } 

.right {
    width: 467px;
    margin-left: 60px;
    margin-top: 0px;

}

.right::first-letter {

    color: rgb(11, 48, 255);
}


.title {
    font-size: 38px;
    margin: 0;
    color:#bb5858;
}


.avatar {
    border: 1px solid #ffffff;
    width: 100%;
}

.social-up:hover {
    position:relative;
    bottom: 5px;
    }
